@font-face {
    font-family: Gilroy-UltraLight;
    src: url(../font/Gilroy-UltraLight.ttf);
}

@font-face {
    font-family: Gilroy-Regular;
    src: url(../font/Gilroy-Regular.ttf);
}

@font-face {
    font-family: Gilroy-SemiBold;
    src: url(../font/Gilroy-Semibold.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


//TEXT STYLES

h1, h2, h3, h4, h5, h6{
    font-family: Gilroy-UltraLight;
    color: #29454A;

    strong{
        font-family: Gilroy-Semibold;
        font-weight: 600;
    }
}

h1{
    font-size: clamp(42px, 5vw, 72px);
}

h2{
    font-size: clamp(32px, 2.9vw, 42px);
}

h3{
    font-size: clamp(22px, 2.2vw, 32px);
}

h4{
    font-family: Gilroy-Semibold;
    font-size: 15px;
}


p{
    font-family: Gilroy-Regular;
    font-size: clamp(15px, 1.04vw, 17px);
    color: #7A736B;

    strong{
        font-family: Gilroy-Semibold;
        font-weight: 600;
    }
}

p.p-large{
    font-size: clamp(17px, 1.4vw, 21px);
}

p.p-small{
    //font-size: clamp(12px, 1.04vw, 15px);
    font-size: 15px;
}

p.p-sub{
    font-size: 12px;

    strong{
        font-family: Gilroy-Semibold;
        font-weight: 600;
    }
}

//BUTTONS STYLES
.btn-primary{
    color: #F7F3ED;
    font-family: Gilroy-SemiBold;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 17px clamp(30px, 3.8vw, 55px);
    border-radius: 64px;
    background: #BC934F;
    border: 1px solid #BC934F;
    transition: all 0.3s ease-out;
    width: fit-content;
    cursor: pointer;

    &:hover{
        opacity: 0.8;
    }
}

.btn-secondary{
    color: #BC934F;
    font-family: Gilroy-SemiBold;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 17px clamp(30px, 3.8vw, 55px);
    border-radius: 64px;
    background: transparent;
    border: 1px solid #BC934F;
    transition: all 0.3s ease-out;
    width: fit-content;
    cursor: pointer;

    &:hover{
        opacity: 0.8;
    }
}

//SECTIONS COLORS
.light{
    .section-background{
        background-color: #E5E3D9;
    }

    h1, h2, h3, h4, h5{
        color: #29454A;
    }

    p{
        color: #7A736B;
    }

    a{
        color: #7A736B;
    }
}

.lighest{
    .section-background{
        background-color: #F7F3ED;
    }

    h1, h2, h3, h4, h5{
        color: #29454A;
    }

    p{
        color: #7A736B;
    }

    a{
        color: #7A736B;
    }
}

.dark{
    .section-background{
        background-color: #2A464A;
    }

    h1, h2, h3, h4, h5{
        color: #E5E2D9;
    }

    p{
        color: #E5E2D9;
    }

    a{
        color: #E5E2D9;
    }
}

.derkest{
    .section-background{
        background-color: #132224;
    }

    h1, h2, h3, h4, h5{
        color: #E5E2D9;
    }

    p{
        color: #E5E2D9;
    }

    a{
        color: #E5E2D9;
    }
}

.gold{
    color:#BC934F;
}

//Announcement bar
.announcemnet-bar-wrapper{
    background-color: #2A464A;
    padding: 12px 4vw;
    
    display: flex;
    justify-content: center;

    p{
        color: #F7F3ED;
        max-width: 1440px;

        a{
            color: #F7F3ED;

            &:hover{
                opacity: 0.8;
            }
        }
    }
}

//ALL STYLES
body{
    background-color: #F7F3ED;
}

body .page-section .content-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: clamp(40px, 5.5vw, 80px);
    padding-bottom: clamp(40px, 5.5vw, 80px);
    //display: flex;
    //flex-wrap: wrap;
    z-index: 10;
    position: relative;
  }

  .page-section{
    position: relative;
  }

  .section-background {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  